extends layout
block content
    div(class="container-fluid")
        h1= title
    -let results=[{goat_color:"brown",goat_breed:"Flemish Giant goat",goat_price:2000},{goat_color:"white",goat_breed:"Angora goat",goat_price:5500},{goat_color:"black",goat_breed:"Havana",goat_price:4000}]
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.goat_color}              
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.goat_breed}                
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.goat_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }